h1 {
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

pre,
.buttons {
    width: 50%;
    margin: 0 auto;
}

code {
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.buttons a {
    width: 100%;
    text-align: center;
}